<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ Import Namespace="System.IO" #>
<#@ assembly name="Primavera.BusinessAnalytics.SDK.CodeGeneration.dll" #>
<#@ import namespace="Primavera.BusinessAnalytics.SDK.CodeGeneration" #>
<#@ output extension=".sql" #>

<#
    using (IndicatorScriptGenerator t = new IndicatorScriptGenerator(Host.ResolvePath(@"..\Solution.config")))
    {
        t.IsDropScript = true;
        this.Write(t.TransformText());
    }
#>