<?xml version="1.0" encoding="utf-8"?>
<SolutionConfig Name="RealEstate" Description="RealEstate" Version="1.0">
  <MultidimensionalData>
    <OlapDatabaseFilePath>..\..\ASDatabase\RealEstateOlap.asdatabase</OlapDatabaseFilePath>
    <WriteBackEnabledEntities></WriteBackEnabledEntities>
    <AnalyticalDimensions></AnalyticalDimensions>
    <AnalyticalMeasureGroups></AnalyticalMeasureGroups>
    <ExcludedObjects></ExcludedObjects>
  </MultidimensionalData>
  <OperationalData Server="" WindowsAuthentication="True" UserName="" Password="" OrganizationDatabase="" DashboardServer="" DashboardWindowsAuthentication="False" DashboardUserName="" DashboardPassword="" DashboardDatabase="">
    <IndicatorsDisplayFolder></IndicatorsDisplayFolder>
    <Dashboards></Dashboards>
  </OperationalData>
</SolutionConfig>